{% extends  'navbar_temp.html' %}
{% load static %}

{% block title%}
Events | ZBC
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdn.boomcdn.com/libs/owl-carousel/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdn.boomcdn.com/libs/owl-carousel/2.3.4/assets/owl.theme.default.min.css">
<link rel="stylesheet" href="{% static 'css/event_style.css' %}">

{% endblock %}

{% block navbar_wrap %}
{% if message != None  %}
<div class="alert alert-login  alert-warning alert-dismissible fade show" data-aos="fade-down" role="alert">
    <strong align="center"></strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<canvas id="canvas"></canvas>

<div class="event_style">
    <div class="row">
        <div class="col-sm event_into" data-aos="zoom-out">Events</div>
        <div class="col-sm event_img" data-aos="zoom-out"><img src="{% static 'media/event.webp' %}" alt="" srcset="">
        </div>

        </div>
</div>


<div class="upcoming_events">
    <h1 align="center" color="#382549">Upcoming Events</h1>
    <div class="owl-carousel">
        {% for event in up_coming %}
        <div class="owl_inner" data-aos="zoom-in-up">{% if event.event_image%}<img class="d-block w-100  " src="/media/{{ event.event_image }}"
                   >{% endif %}
            <div class="card">
                <div class="card-body">


                    <h3 class="card-title">{{ event.event_name }}</h3>
                    <details>

                    <summary>{{ event.event_details |slice:":50"| safe  }}...(Read more)</summary>

                    <p class="card-text">{{ event.event_details | safe  }}
                    </details>
                        <hr color="black">
                    <div>
                        Will start at: {{ event.event_start_date  }}

                        <!--
                        Will end at: {{ event.event_end_date  }}-->
                    </div>
                    <div >
                        {% if request.session.is_admin %}

                            <div class="box-3"><a href="{% url 'Event_details' event_id=event.id %}">
                                <div class="btn btn-three" style="background-color: black">
                                    <span style="color: white;">Edit</span>
                                </div></a></div>

                        {% endif %}<br>
                        {% if request.session.is_admin %}

                            <div class="box-3" ><a href="{% url 'User_registered' event_id=event.id %}" >
                                <div class="btn btn-three" style="background-color: black " >
                                    <span style="color: white;">Users Registered</span>
                                </div></a>
                            </div>

                        {% endif %}<br>
                        {% if request.session.is_admin %}

                            <div class="box-3" ><a href="{% url 'reg_csv' event_id=event.id %}" >
                                <div class="btn btn-three" style="background-color: black " >
                                    <span style="color: white;">Download CSV</span>
                                </div></a>
                            </div>

                        {% endif %}
                        <br>

                            <div class="box-3"><a href="{% url 'attending' event_id=event.id %}">
                                <div class="btn btn-three" style="background-color: black">
                                    <span style="color: white;"> Register </span>
                                </div></a>
                            </div>

                        <br>
                        {%if request.session.user_email is None%}
                        {% if event.non_vitians %}
                        <div>Non VITian?? <br>

                            <div class="box-3"><a href="{% url 'nonvit_reg' %}">
                                <div class="btn btn-three" style="background-color: black">
                                    <span style="color: white;"> Register Here </span>
                                </div></a>
                            </div>
                        </div>{%endif%}
                        {%endif%}


                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% if not up_coming  %}
        <div class="owl_inner" data-aos="zoom-in-up">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">&#128517;</h5>
                    <p class="card-text">We will be back with a new event soon..!!</p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% if request.session.is_admin %}
<div class="current_events">
    <h1 align="center" >Ongoing(Only Admin)</h1>
    <div class="owl-carousel">
        {% for event in current %}
        <div class="owl_inner" data-aos="zoom-in-up">{% if event.event_image%}<img class="d-block w-100  " src="/media/{{ event.event_image }}"
                   >{% endif %}
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{ event.event_name }}</h3>

                    <details>
                        <summary>Click/tap to know more</summary>

                    <p class="card-text">{{ event.event_details | safe  }}
                    </details>
                        <hr color="black">
                    <div>
                        Started at: {{ event.event_start_date  }}
                        <br>
                        Will end at: {{ event.event_end_date  }}
                    </div>
                    </p>
                    <div style="display: inline">
                        {% if request.session.is_admin %}

                            <div class="box-3"><a href="{% url 'Event_details' event_id=event.id %}">
                                <div class="btn btn-three" style="background-color: black">
                                    <span style="color: white;">Edit</span>
                                </div></a>
                            </div>
                            <div class="box-3" ><a href="{% url 'reg_csv' event_id=event.id %}" >
                                <div class="btn btn-three" style="background-color: black " >
                                    <span style="color: white;">Download CSV</span>
                                </div></a>
                            </div>

                        {% endif %}
                        <br>


                            <div class="box-3">
                                <div class="btn btn-three" style="background-color: black">
                                    <span style="color: white;"> Registration Closed </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% if not current  %}
        <div class="owl_inner" data-aos="zoom-in-up">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">&#128556;</h5>
                    <p class="card-text">No current event..!!</p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{%endif%}

<div class="past_events">
    <h1 align="center">Past Events</h1>
    <div class="owl-carousel" data-aos="zoom-in-up">
        {% for event in past %}
        <div class="owl_inner">{% if event.event_image%}<img class="d-block w-100  " src="/media/{{ event.event_image }}"
                   >{% endif %}
            <div class="card ">
                <div class="card-body">
                    <h3 class="card-title">{{ event.event_name }}</h3>
                    <details>
                        <summary>{{ event.event_details |slice:":50"| safe  }}...(Read more)</summary>

                    <p class="card-text">{{ event.event_details | safe  }}
                    </details>
                        <hr color="black">
                    <div>
                        Started at: {{ event.event_start_date  }}
                        <br>
                        Ended at: {{ event.event_end_date  }}
                    </div>
                    </p><!--
                    {% if request.session.is_admin %}

                        <div class="box-3"><a href="{% url 'Event_details' event_id=event.id %}">
                            <div class="btn btn-three" style="background-color: black">
                                <span style="color: white;">Edit</span>
                            </div></a>
                        </div>

                    {% endif %}-->
                    {%if request.session.user_email is not None%}
                    <br>

                            <div class="box-3"><a href="{% url 'certificate' event_id=event.id %}">
                                <div class="btn btn-three" style="background-color: black">
                                    <span style="color: white;">Certificate </span>
                                </div></a>
                            </div>

                        <br>
                    {%endif%}<!--
                    <a href="{{ event.event_registation }}">
                        <div class="box-3">
                            <div class="btn btn-three" style="background-color: black">
                                <span style="color: white;"> Recap </span>
                            </div>
                        </div>
                    </a>
                    -->
                </div>
            </div>
        </div>
        {% endfor %}
        {% if not past  %}
        <div class="owl_inner" data-aos="zoom-in-up">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">All Done</h5>
                    <p class="card-text">No events yet..!!</p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script src="https://cdn.boomcdn.com/libs/owl-carousel/2.3.4/owl.carousel.min.js"></script>
<script src="{% static 'js/event_firework.js' %}"></script>
<script>
    $(document).ready(function () {
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            center: true,
            stagePadding: 50,
            loop: true,
            margin: 10,
            nav: true,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: true,
                    loop: false
                },
                600: {
                    items: 2,
                    nav: true,
                    loop: false
                },
                1000: {
                    items: 3,
                    nav: true,
                    loop: false
                }
            }

        })
    });

</script>
<script>
    $( "html,h4,.wrapper" ).click(function() {
    $(".wrapper").load(" .wrapper > *");
});
</script>
{% endblock %}