{% extends  'navbar_temp.html' %}
{% load static %}

{% block title%}
Zero Bugs Club | Developers Community |VIT Chennai
{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/home_style.css' %}">
<meta property="og:title" content="Zero Bugs Club" />
<meta property="og:description" content="Zero Bugs Club(ZBC) is a developers community at VIT Chennai.We provide exposure to modern frameworks and technologies. And follow a product-oriented approach. " />
<meta property="og:url" content="https://zbcvitc.pythonanywhere.com" />
<meta property="og:image" content="https://zbcvitc.pythonanywhere.com/static/media/wl.png" />
<meta name="Description" content="Zero Bugs Club(ZBC) is a developers community at VIT Chennai.We provide exposure to modern frameworks and technologies. And follow a product-oriented approach. ">


{% endblock %}



{% block navbar_wrap %}
{% if message != None  %}
<div class="alert alert-login  alert-warning alert-dismissible fade show" data-aos="fade-down" role="alert">
    <strong></strong> {{ message }}

</div>
{% endif %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>



<div class="home" style="">
    <div id="particles-js">
    </div>
    <div class="home_wrap ">
        <div class="row">
            <div class="col-sm">
                <div class="title" style="color: #2E022E;">
                    <p style="font size: 8vh;">Welcome to</p>

                    <strong>ZERO BUGS CLUB</strong>
                    <p>
                    <div class="typed-strings">
                    <p style="font-size: 4vh">A <strong>DEV</strong> Community.</p>
                    <p >A <em>coders</em> hub.</p>
                    </div>
                    <span id="typed"></span>
                    <strong class="text-slider" ></strong></h6></p>
                </div>
                <!--
                 <div class="box-3" style="margin-left:5%"><a href="{% url 'recruitment' %}">
                                <div class="btn btn-three" style="background-color: black">
                                    <span style="color: white;"> Recruitment Drive 2021 </span>
                                </div></a>
                            </div>
-->
            </div>

        </div>
        <img style="pointer-events: None;" src="{% static 'media/developer.gif' %}" alt="" srcset="">
    </div>
</div>

<div class="quote">
    <div class="row">
        <div class="col order-last quote_inner">
            <span class="q">“</span>
            <div class="quote_about" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                The people who are crazy enough to think they can change the world are the ones who do.
                <br>
                <div class="author">-Steve Jobs</div>
            </div>
        </div>
        <div class="col order-first" data-aos="zoom-out">
            <img class="sj_img" style="pointer-events: None;" src="{% static 'media/sj.png' %}" alt="">
        </div>
    </div>
</div>
<div class="learn_wrap" style="overflow: hidden;">
    <div class="row">
        <div class="col-sm learn_quot">
            <div data-aos="fade-right"> We <span  style="color:#52b771;">THINK</span></div>
        </div>
        <div class="col-sm">
            <div data-aos="zoom-in-left" style="overflow-x: hidden;">
                <img class="learn_img" style="pointer-events: None;" src="{% static 'media/think.png' %}" alt="">
            </div>
        </div>
    </div>
</div>
<div class="compete_wrap" style="overflow: hidden;">
    <div class="row">

        <div class="col-sm">
            <div data-aos="zoom-in-right">
                <img class="compete_img" style="pointer-events: None;" src="{% static 'media/learn.png' %}" alt="">
            </div>
        </div>
        <div class="col-sm compete_quot">
            <div data-aos="fade-left"> We <span style="color:#FBA919;">LEARN</span>
            </div>
        </div>

    </div>
</div>
<div class="win_wrap" style="overflow: hidden;">
    <div class="row">
        <div class="col-sm win_quot">
            <div data-aos="fade-right">We
                <span style="color:#0E87CC;">CREATE</span>
            </div>
        </div>
        <div class="col-sm">
            <div data-aos="zoom-in-up">
                <img class="win_img " style="pointer-events: None;" src="{% static 'media/creating.png' %}" alt="">
            </div>

        </div>
    </div>
    			<div class="container" >
				<div class="row d-flex">
					<p class="col-lg-12 footer-text text-center" style="color: black;">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved (ZBC VITC)
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
				</div>
			</div>
</div>

{% endblock %}



{% block extra_js %}
<script>
// Wrap every letter in a span
var textWrapper = document.querySelector('.ml1 .letters');
textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");
anime.timeline({loop: true})
  .add({
    targets: '.ml1 .letter',
    scale: [0.3,1],
    opacity: [0,1],
    translateZ: 0,
    easing: "easeOutExpo",
    duration: 700,
    delay: (el, i) => 20 * (i+1)
  }).add({
    targets: '.ml1 .line',
    scaleX: [0,1],
    opacity: [0.5,1],
    easing: "easeOutExpo",
    duration: 800,
    offset: '-=875',
    delay: (el, i, l) => 20 * (l - i)
  }).add({
    targets: '.ml1',
    opacity: 0,
    duration: 1000,
    easing: "easeOutExpo",
    delay: 200
  });
</script>
<script>
  var goFS = document.getElementById("goFS");
  goFS.addEventListener("click", function() {

   const elem = document.documentElement;
   if (elem.requestFullscreen) {elem.requestFullscreen()}

  }, false);

</script>
<script src="{% static 'js/typed.min.js' %}"></script>
    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script>
  var typed = new Typed('#typed', {
    stringsElement: '.typed-strings',
                typeSpeed: 50,
                loop: true,
                backDelay: 900,
                backSpeed: 30,
  });
  </script>
{% endblock %}
