{% extends  'navbar_temp.html' %}
{% load static %}


{% block title %}
Event Reg | ZBC
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/resources_detail_style.css' %}">
{% endblock %}


{% block navbar_wrap %}
<form action={% url 'Non_vit' %} enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <h2>Provide Your Details</h2>
    <div class="form-group">
      <label for="fname">Full Name</label>
      <input type="text" class="form-control" id="fname" name="fname" required>
    </div>
    <div class="form-group">
      <label for="email">Email ID</label>
        <input type="email" class="form-control" id="email" name="email" pattern=".+@vitstudent.ac.in" title="Please provide only VIT e-mail address" required>
    </div>
    <div class="form-group">
        <label for="phone">Phone No.</label>
        <input type="tel" class="form-control" id="phone" name="phone" required>
    </div>
    <div class="form-group">
        <label for="phone">Discord ID</label>
        <input type="text" class="form-control" id="dis_id" name="dis_id">
    </div>
    <div class="form-group">
        <label for="college">Registration No.</label>
        <input type="text" class="form-control" id="college" name="college" title="Please provide your registration number" required>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
{% endblock %}


{% block extra_js %}
{% endblock %}